html, body, * { font-family: "Microsoft YaHei" ! important; }
#ListMain a {
    color: #e91e63
}
.page-footer a {
    color: #f5f5f5;
}
.card-title {
    line-height: normal;
}
.OnlyDesktop {
    display: inline;
}
.OnlyMobile {
    display: none;
}
@media screen and (max-width:992px) {
    .OnlyDesktop {
        display: none;
    }
    .OnlyMobile {
    display: inline;
    }
}